@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
font-face {
  font-family: lucidarande;
  src: url('../fonts/LucidaGrandeRegular');
}

body {
  background: rgb(255, 255, 255);
  color: rgb(59, 67, 68);
  font-family: "Lucida Grande", 'Lucida Sans', Verdana, Tahoma, sans-serif;
  font-size: 16px;
}


/******* Common css for different tag types *************/

h1, h2, h3 {
  /*text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);*/
  padding: 0 0 1em 0;
}

h1 {
  color: red;
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
  color: orange;
}

h3 {
  font-size: 1em;
}

a:link, a:visited {
  color: rgb(241, 47, 93, 08);
}

a: hover {
  color: rgb(241, 47, 93);
}

ul {
  list-style-type: none;
}

ul li a:link, ul li a:visited {
  display: block;
  text-decoration: none;
  color: rgb(66, 148, 182);
  border-bottom: 2px solid rgb(232, 243, 248);
}

ul li a: hover {
  background: rgba(232, 243, 248, 03);
}


/*******END Common css for different tag types *************/

.wrapper {
  width: 940px;
  margin: 0 auto;
}


/****** Header of the body = logo + navigation *******/

header {
  /*border: 1px solid black;*/
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  margin: 50px auto;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  margin-right: 0;
}

.logo img {
  width: 20%;
}

header ul li {
  margin: 0 7px;
  text-transform: capitalize;
}

header ul li a:hover {
  border-bottom: 2px solid blue;
}


/****** Header of the body = logo + navigation *******/


/***** main of the body *******/

.content {
  /*border:1px solid black;*/
  position: relative;
}

.article {
  float: left;
  width: 57%;
  /*540px*/
}

.aside {
  width: 32%;
  float: right;
}

.aside-nav li {
  margin: 10px 0;
}

.box {
  border-bottom: 1px solid rgb(219, 230, 236);
  padding: 1em 0 1em 0;
  text-align: justify;
}


/****** Footer *******/

footer {
  /*border: 1px solid black;*/
  clear: both;
  background: rgb(9, 8, 33);
  height: 50px;
  line-height: 50px;
}

footer span {
  float: left;
  color: #fff;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.socials li {
  width: 50px;
}

.socials a {
  display: block;
  width: 32px;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  color: #090821;
  height: 35px;
  line-height: 35px;
  margin-top: 5px;
}

.socials a:hover {
  color: #090821;
}


/***** Advertisement *****/

.left-col-advertisement {
  float: left;
  position: absolute;
  padding-right: 15px;
  padding-left: 35px;
  padding-top: 15px;
  display: block;
}

.commercial {
  border: 3px solid black;
  height: 265px;
  width: 75px;
  padding: 10px;
  margin: 20px;
}
