.list-sport-articles {
	/*border: 1px solid black;*/
	width:100%; /*parent .article width:57% == 540px; */
	margin-bottom: 20px;

}
ul.secondary-sport-articles li {
	margin-bottom: 0px;
	height:130px;
	/*width: 98%;*/
}
ul.secondary-sport-articles li:hover {
	background: #003162;;
	color: #fff;
}

ul.secondary-sport-articles li a:link, 
ul.secondary-sport-articles li a:visited {
  border-bottom: 0;
}

/*each li from list of small articles preview */
.topic {
	padding: 10px 10px;
	height: 120px;
	position: relative;
}

.topic img {
	/*border:1px solid red;*/
	width: 30%;
	max-width: 30%;
	height: 95%;
	position: absolute;
	left: 0;
	padding: 2px 2px;
}
.topic-info {
	/*border:1px solid purple;*/
	width: 66%;
	position: absolute;
	right:0;

}
.topic-info h2 {
	/*color: rgb(66, 148, 182);*/
	font-size: 1rem;
	font-weight: normal;
	/*color:#003162;*/
}
.topic-info p {
	margin: 20px auto;
	font-size: 0.8rem;
}
